[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	sw = switch

[push]
	default = upstream

[user]
	name = Nefendi
	email = nefendi.2snfj@slmail.me

[color]
	ui = always

[core]
	pager = delta
	autocrlf = input
	editor = nvim
	excludesfile = ~/.global_gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    ; Tokyonight Night theme
    minus-style                   = syntax "#37222c"
    minus-non-emph-style          = syntax "#37222c"
    minus-emph-style              = syntax "#713137"
    minus-empty-line-marker-style = syntax "#37222c"
    line-numbers-minus-style      = "#914c54"
    plus-style                    = syntax "#20303b"
    plus-non-emph-style           = syntax "#20303b"
    plus-emph-style               = syntax "#2c5a66"
    plus-empty-line-marker-style  = syntax "#20303b"
    line-numbers-plus-style       = "#449dab"
    line-numbers-zero-style       = "#3b4261"

    ; use n and N to move between diff sections
    navigate = true
    ; side-by-side = true
    line-numbers = true
    hyperlinks = true

[diff]
	tool = meld
	algorithm = histogram
	colorMoved = default

[difftool]
	prompt = false

[merge]
	tool = meld
	conflictstyle = diff3

[rerere]
	enabled = true

[pager]
	branch = false

[pull]
	rebase = true

[log]
	decorate = full

[fetch]
	prune = true
	writeCommitGraph = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[column]
	ui = auto

[branch]
	sort = -committerdate
[rebase]
	updateRefs = true
