environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}

input {
    keyboard {
        repeat-delay 200
        repeat-rate 25

        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.20
    }

    mouse {
        accel-speed 0.25
    }

    trackpoint {
    }

    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    xcursor-theme "Qogir-Dark"
}

gestures {
    hot-corners {
        off
  }
}

output "eDP-1" {
    mode "1920x1200"
    position x=2560 y=0
    scale 1.0
}

output "DP-2" {
    mode "2560x1440"
    scale 1.0
}

layout {
    gaps 24

    center-focused-column "never"

    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
    }

    border {
        off
    }
}

layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

window-rule {
    match app-id="protonvpn-app"
    open-floating true
}

window-rule {
    match app-id="spotify"
    open-maximized true
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d %H-%M-%S.png"

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    // Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+D hotkey-overlay-title="Run an Application" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    // Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+B hotkey-overlay-title="Open a Browser: Brave" { spawn "brave"; }
    Mod+Shift+Q hotkey-overlay-title="Open Session Menu" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Mod+E hotkey-overlay-title="Open a File Manager" { spawn "thunar"; }
    Mod+S hotkey-overlay-title="Switch Wallpaper" {spawn "qs" "-c" "noctalia-shell" "ipc" "call" "wallpaper" "toggle";}
    Mod+Ctrl+S hotkey-overlay-title="Toggle Auto Wallpaper Switcher" {spawn "qs" "-c" "noctalia-shell" "ipc" "call" "wallpaper" "toggleAutomation";}
    Mod+Shift+S hotkey-overlay-title="Random Wallpaper" {spawn "qs" "-c" "noctalia-shell" "ipc" "call" "wallpaper" "random";}

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    F9 { spawn-sh "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }
    Mod+Shift+C repeat=false { close-window; }

    // Mod+Left  { focus-column-left; }
    // Mod+Down  { focus-window-down; }
    // Mod+Up    { focus-window-up; }
    // Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    // Mod+Ctrl+Left  { move-column-left; }
    // Mod+Ctrl+Down  { move-window-down; }
    // Mod+Ctrl+Up    { move-window-up; }
    // Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home hotkey-overlay-title="Focus the First Column" { focus-column-first; }
    Mod+End  hotkey-overlay-title="Focus the Last Column" { focus-column-last; }
    Mod+Ctrl+Home hotkey-overlay-title="Move Column to First" { move-column-to-first; }
    Mod+Ctrl+End hotkey-overlay-title="Move Column to Last" { move-column-to-last; }

    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H hotkey-overlay-title="Focus Monitor to the Left" { focus-monitor-left; }
    Mod+Shift+J hotkey-overlay-title="Focus Monitor Down" { focus-monitor-down; }
    Mod+Shift+K hotkey-overlay-title="Focus Monitor Up" { focus-monitor-up; }
    Mod+Shift+L hotkey-overlay-title="Focus Monitor to the Right" { focus-monitor-right; }
    //
    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H hotkey-overlay-title="Move Column to Monitor to the Left" { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J hotkey-overlay-title="Move Column to Monitor Down" { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K hotkey-overlay-title="Move Column to Monitor Up" { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L hotkey-overlay-title="Move Column to Monitor to the Right" { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+U hotkey-overlay-title="Move Workspace Down" { move-workspace-down; }
    Mod+Shift+I hotkey-overlay-title="Move Workspace Up" { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    Mod+Shift+R hotkey-overlay-title="Switch Preset Window Heights" { switch-preset-window-height; }
    Mod+Ctrl+R hotkey-overlay-title="Reset Window Height" { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F hotkey-overlay-title="Fullscreen" { fullscreen-window; }

    Mod+Ctrl+F hotkey-overlay-title="Expand Column to Available Width" { expand-column-to-available-width; }

    Mod+C hotkey-overlay-title="Center Column" { center-column; }

    Mod+Ctrl+C hotkey-overlay-title="Center Visible Columns" { center-visible-columns; }

    Mod+Minus hotkey-overlay-title="Decrease Column Width" { set-column-width "-10%"; }
    Mod+Equal hotkey-overlay-title="Increase Column Width" { set-column-width "+10%"; }

    Mod+Shift+Minus hotkey-overlay-title="Decrease Window Height" { set-window-height "-10%"; }
    Mod+Shift+Equal hotkey-overlay-title="Increase Window Height" { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W hotkey-overlay-title="Toggle Column Tabbed Display" { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    F12                                                             { screenshot; }
    Ctrl+F12 hotkey-overlay-title="Take a Screenshot of the Screen" { screenshot-screen write-to-disk=false; }
    Alt+F12  hotkey-overlay-title="Take a Screenshot of the Window" { screenshot-window write-to-disk=false; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape hotkey-overlay-title="Toggle Keyboard Shortcuts Inhibit" allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    // Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P hotkey-overlay-title="Power Off Monitors" { power-off-monitors; }
}

spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "protonvpn-app"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swayidle" "-w" "before-sleep" "qs -c noctalia-shell ipc call lockScreen lock"

include "./noctalia.kdl"
